# Application Configuration
app.hostname=0.0.0.0
app.port=8080
app.debug=True
app.ssl_enabled=no
app.ssl_cert=/data/kafka/conf/server.cert
app.ssl_key=/data/kafka/conf/server.key
app.valid_users=admin:admin,root:root
# Kafka Cluster Configuration
cluster.broker.listeners=server:9093
cluster.security.protocol=SSL
cluster.ssl.cafile=/root/ssl/ca.cert
cluster.ssl.keyfile=/data/kafka/conf/server.key
cluster.ssl.certfile=/data/kafka/conf/server.cert
cluster.kafka.config=/data/kafka/conf/server.properties
# Remote Service Configuration
ssh.user=root
ssh.password=x
ssh.issudo=no
ssh.kafka.service_script=/opt/kafka/bin/kafka
ssh.kafka.get_expected_string=started
ssh.kafka.start_expected_string=started
ssh.kafka.stop_expected_string=stopped
